#include "../Pods/Target Support Files/Pods/Pods.adhoc.xcconfig"

BUNDLE_ID = dev.toolbear.panda.ios.adhoc
DISPLAY_NAME_DECORATOR = 🐣
PROVISIONING_PROFILE[sdk=iphonesimulator*] =
PROVISIONING_PROFILE[sdk=iphoneos*] = cf51cdfb-31e8-477a-a5e1-867b30fac492
CODE_SIGN_IDENTITY[sdk=iphonesimulator*] =
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer: Tim Taylor (NL7R29XSLH)
