#include "../Pods/Target Support Files/Pods/Pods.adhoc.xcconfig"

BUNDLE_ID = dev.toolbear.panda.ios.adhoc
DISPLAY_NAME_DECORATOR = 🐣
PROVISIONING_PROFILE[sdk=iphonesimulator*] =
PROVISIONING_PROFILE[sdk=iphoneos*] = 1d242020-42bc-4205-90cb-4ae341f471d3
CODE_SIGN_IDENTITY[sdk=iphonesimulator*] =
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution: Tim Taylor (SW43GG3AVC)
